body {
  font-family: arial, sans-serif;
  font-weight: lighter;
  color: green;
  padding: 20px;
}

a {
  color: green;
  text-decoration: none;
}

a:hover {
  opacity: 0;
}

::selection {
  background-color: lightgreen;
}

span {
  color: white;
}

span:hover {
  color: green;
}

th {
  text-align: left;
  padding: 10px 50px 10px 0;
}

td {
  border-top: 1px solid green;
  padding: 10px 0px;
  vertical-align: top;
}

td.pcolumn {
  min-width: 15%;
  width: 15%;
  max-width: 30%;
}
